language: rust
rust:
  - stable
  - beta
  - nightly
jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true

cache:
  cargo: true
  npm: true

before_install:
  - rustup component add clippy rustfmt
install:
  - (cd examples/truffle; npm install)

script:
  - (cd examples/truffle; npm run build)
  - cargo build --all-features --verbose --all
  - cargo test --all-features --verbose --all
  - cargo fmt --all -- --check
  - cargo clippy --all
