if: (branch = master) OR (type = pull_request) OR (tag IS present)
stages:
  - name: "Build and Test"
  - name: "Deploy"
    if: tag IS present

stage: "Build and Test"
language: rust
rust:
  - stable
  - beta
  - nightly
env:
  global:
    - SCCACHE_VERSION=0.2.12
    - SCCACHE=$HOME/.sccache/bin/sccache
    - RUSTC_WRAPPER=$SCCACHE

jobs:
  allow_failures:
    - stage: "Build and Test"
      rust: nightly
  fast_finish: true
  include:
    - name: "Rust: stable - Examples"
      stage: "Build and Test"
      language: rust
      rust: stable
      services:
        - docker
      install:
        - docker pull trufflesuite/ganache-cli:v6.7.0
      script:
        - docker run -d -p 9545:8545 trufflesuite/ganache-cli:v6.7.0
        - cargo run --example async
        - cargo run --example linked
        - cargo run --package examples-generate
        - cargo run --example rinkeby

    - name: "crates.io"
      stage: "Deploy"
      language: rust
      rust: stable
      env:
        - RUSTC_WRAPPER=
      before_install: skip
      before_script: skip
      script: skip
      deploy:
        provider: script
        script: bash ci/deploy.sh
        on:
          tags: true

cache:
  directories:
    - $HOME/.cache/sccache
    - $HOME/.cache/yarn
    - $HOME/.cargo
    - $HOME/.rustup
    - examples/truffle/node_modules

before_install:
  - rustup component add clippy rustfmt
  - cargo clippy --version
  - cargo fmt --version
  - |
    mkdir -p $HOME/.sccache/bin
    pushd $HOME/.sccache
    curl -LO https://github.com/mozilla/sccache/releases/download/$SCCACHE_VERSION/sccache-$SCCACHE_VERSION-x86_64-unknown-linux-musl.tar.gz
    tar -C bin -xvf sccache-$SCCACHE_VERSION-x86_64-unknown-linux-musl.tar.gz --wildcards '*/sccache' --strip 1
    popd
  - $SCCACHE --version
  - nvm install stable && nvm alias default stable
  - node --version
  - npm install -g yarn@latest
  - yarn --version

before_script:
  - (cd examples/truffle; yarn install && yarn run build)

script:
  - cargo build --all-features --verbose --all
  - cargo test --all-features --verbose --all
  - cargo fmt --all -- --check
  - cargo clippy --all --all-features --all-targets -- -D warnings

before_cache:
  - rm -rf "$TRAVIS_HOME/.cargo/registry"
