if: (branch = master) OR (type = pull_request) OR (tag IS present)

language: rust
rust:
  - stable
  - beta
  - nightly

jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true
  include:
    - name: "Rust: stable - Examples"
      language: rust
      rust: stable
      services:
        - docker
      install:
        - (cd examples/truffle; npm ci)
        - docker pull trufflesuite/ganache-cli:v6.7.0
      script:
        - (cd examples/truffle; npm run build)
        - docker run -d -p 9545:8545 trufflesuite/ganache-cli:v6.7.0
        - RUSTC_WRAPPER=sccache cargo run --example async
        - RUSTC_WRAPPER=sccache cargo run --example linked
        - RUSTC_WRAPPER=sccache cargo run --package examples-generate
        - RUSTC_WRAPPER=sccache cargo run --example rinkeby

cache:
  directories:
    - $HOME/.cache/sccache
    - $HOME/.cargo
    - $HOME/.npm
    - $HOME/.rustup

before_install:
  - rustup component add clippy rustfmt
  - cargo clippy --version
  - cargo fmt --version
  - cargo install cargo-update || echo "cargo-update already installed"
  - cargo install sccache || echo "sccache already installed"
  - cargo install-update -a
  - sccache --version
  - nvm install stable && nvm alias default stable
  - node --version
  - npm install -g npm@latest
  - npm --version

install:
  - (cd examples/truffle; npm ci)

script:
  - (cd examples/truffle; npm run build)
  - RUSTC_WRAPPER=sccache cargo build --all-features --verbose --all
  - RUSTC_WRAPPER=sccache cargo test --all-features --verbose --all
  - RUSTC_WRAPPER=sccache cargo fmt --all -- --check
  - RUSTC_WRAPPER=sccache cargo clippy --all --all-features --all-targets -- -D warnings

before_cache:
  - rm -rf "$TRAVIS_HOME/.cargo/registry"
