language: rust
rust:
  - stable
  - beta
  - nightly
jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true

cache: cargo
before_cache:
  - rm -rf "$TRAVIS_HOME/.cargo/registry/src"

before_install:
  - rustup component add clippy rustfmt
install:
  - (cd examples/truffle; npm install)

script:
  - (cd examples/truffle; npm run build)
  - cargo build --features example --verbose --all
  - cargo test --features example --verbose --all
  - cargo fmt --all -- --check
  - cargo clippy --all