language: rust
rust:
  - stable
  - beta
  - nightly

jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true
  include:
    - name: "Rust: stable - Examples"
      language: rust
      rust: stable
      services:
        - docker
      install:
        - (cd examples/truffle; npm ci)
        - docker pull trufflesuite/ganache-cli:v6.7.0
      script:
        - (cd examples/truffle; npm run build)
        - docker run -d -p 9545:8545 trufflesuite/ganache-cli:v6.7.0
        - cargo run --example async
        - cargo run --example linked
        - cargo run --package examples-generate
        - cargo run --example rinkeby

cache:
  cargo: true
  directories:
    - $HOME/.npm

before_install:
  - rustup component add clippy rustfmt
  - |
    nvm install stable
    nvm alias default stable
    node --version
  - |
    npm install -g npm@latest
    npm --version

install:
  - (cd examples/truffle; npm ci)

script:
  - (cd examples/truffle; npm run build)
  - cargo build --all-features --verbose --all
  - cargo test --all-features --verbose --all
  - cargo fmt --all -- --check
  - cargo clippy --all --all-features --all-targets -- -D warnings
